.login-input{
  background: #FFFFFF;

  border: 1px solid #B6B6B6;
  box-sizing: border-box;
  border-radius: 12px;
}
.login-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.btn-pink {
  background: #FF70B4;
  border-radius: 4px;
}

.btn-blue{
  width: 194px;
  height: 40px;
  color: #466DD1;
  background: #F7F7FF;
  border-radius: 4px;
}

.text-head{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

body{
  background-color: #f8f9fa !important;
  font-family: "Nunito",sans-serif;
  font-size: .8rem;
  font-weight: 400;
}

.chat-wrapper{
  border-radius: .75rem !important;
  padding: 1rem;
}

.chat-wrapper-header{

}

.chat-wrapper-body{

}

.chat-wrapper-footer{

}

.chat-message-box{
  border-bottom: 1px solid #B6B6B6;
  margin-bottom: 1rem;
}

p {
  font-size: .85rem;
  line-height: 1.3rem;
  font-family: "Nunito",sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;

}

.chat-send-box{
  input{
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px ;
  }

  button{
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px ;
  }
}
.btn-primary{
  background-color: #922c88 !important;
  &:hover{
    background-color:#73236b !important;
  }
  &:active {
    background-color:#631e5c !important;
  }
}

.navbar {
  //background: #fff;
  //height: 100px;
  //padding: 1.5rem 0;
  box-shadow: 0 1px 15px rgba(0,0,0,.04),0 1px 6px rgba(0,0,0,.04);
  margin-bottom: 30px;
}

.navbar-left{
  flex-basis: 40%;
}

.navbar-right{
  flex-basis: 40%;
  padding-right: 60px;
}
